html{
  overflow-x: hidden;
}
@media ( max-width: 1169px ) {
  #tableroFloatingHeader{
    width: Calc( 80% + 30px ) !important;
  }
	#header{
    padding: 0 20px;
  }
  .tituloTablero{
    margin-top: 50px;
    height: 36px;
    margin-bottom: 10px;
  }
  .tituloTablero h1{
    padding: 10px 20px;
  }
  .cd-primary-nav li a {
    font-size: 12px;
  }
  #chartContainer{
    padding: 0;
    margin-bottom: 20px;
  }
  .highcharts-contextbutton{
    display: none;
  }
  #ultimosDatosTable{
    margin-bottom: 20px;
  }
	}

  @media ( max-width: 850px ) {
    #tableroFloatingHeader{
      display: none !important;
    }
  }
