


@media ( max-width: 850px ) {
	.spreadedTablero{
		display:none;
	}

	.collapsedTablero{
		display:block !important;
	}
}

#tableroContainer tr{
	width:800px;
}
#tableroContainer td{
	border:1px solid white;
	border-collapse: collapse;
	//padding:10px 20px 10px 20px;
	text-align:center;
	color:white;
	font-family: Ubuntu;
	font-size:14px;
	vertical-align: middle;
	text-transform: uppercase;
}

#tableroContainer thead td{
	background-color: #0091D1;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
		padding: 10px;
}

#tableroContainer tbody td{
	background-color: #C5E9F3;
	color: #58595B;
	line-height: 20px;
}

.tablero{
	width:1190px;
	margin:0 auto;
	margin-bottom: 70px;
}

.subtitulo{
	padding:10px;
}
.innerTable{
	padding:0px;
}
.innerTable td{

	border:1px solid !important;
	border-collapse: collapse;
	padding:10px 20px 10px 20px;
	text-align:center;
	background-color: white !important;
	color:black !important;
	font-family: Ubuntu;
	font-size:22px;
}


/*--------LE SACO LOS BORDES NEGROS A LA PRIMERA Y ULTIMA
			FILA DE CADA CATEGORIA---------------------------*/

.innerTable tr:first-child td{
	border-top:none !important;
}

.innerTable tr:last-child td{
	border-bottom:none !important;
}

/*-----------------------------------------------------------*/




/*------------DEFINO EL ANCHO DE CADA CELDA-------------------*/

/*indicador*/
.innerTable tr td:first-child{
	font-weight: bold;
	width:350px;
	color:#39acde !important;
	border-color:black !important;

}
/*unidad*/
.innerTable tr td:nth-child(2){

	width:120px;

}/*UDD: periodo*/
.innerTable tr td:nth-child(3){

	width:120px;

}/*UDD: periodo*/
.innerTable tr td:nth-child(4){

	width:120px;

}
.innerTable tr td:nth-child(5){

	width:120px;

}
.innerTable tr td:nth-child(6){

	width:120px;

}
.innerTable tr td:nth-child(7){

	width:120px;

}

.innerTable .firstAndLast{
	border-left:none !important;
	border-right:none !important;
}
